$bg: #17171c;
$dark: #2e2f38;
$light: #4e505f;
$accent: #4b5efC;
$text: #ffffff;


.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 364px;
  height: 582px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: $bg;
  color: $text;
  padding: 20px 20px 25px;

  &__result {
    border: none;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 96px;
    background-color: $bg;
    font-weight: 300;
    font-size: 96px;
    line-height: 1;
    color: $text;
    text-align: right;
    margin-bottom: 18px;

    &::placeholder {
      color: $text;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 72px);
    grid-gap: 16px;
  }

  &__item {

    &--clean {
      grid-column: 1/3;
    }

    &--zero {
      grid-column: 1/4;
    }
  }

  &__btn {
    border: none;

    width: 100%;
    height: 100%;
    background-color: $dark;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4f505d;
    }

    &--clean {
      background-color: $light;

      &:hover {
        background-color: #66697c;
      }
    }

    &--accent {
      background-color: $accent;

      &:hover {
        background-color: #818ffd;
      }
    }
  }

  &__img {
    width: 32px;
    height: 32px;

    &--operators {
      width: 16px;
      height: 18px;
    }
  }
}